html {
    scroll-behavior: smooth;
}

.degrade {
    text-transform: uppercase;
    font-size: 54px;
    color: var(--mantine-color-blue-7);
    background: linear-gradient(rgba(0,98,133,1) -1.9%, rgba(0,165,198,1) 91.8% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid var(--mantine-color-gray-8);
    margin-bottom: 20px;
}